<script>
  window.podcastData={"title":"Klimacamp Augsburg Podcast","subtitle":"Wir bleiben bis ihr handelt!","description":"Berichte aus dem und über das Augsburger Klimacamp","cover":"https://augsburg.klimacamp.eu/podcast-cover.small.jpeg","feeds":[{"type":"audio","format":"mp3","url":"https://augsburg.klimacamp.eu/podcast.xml","directory-url-itunes":"https://podcasts.apple.com/de/podcast/klimacamp-augsburg-podcast/id1545035012"}]}
</script>
<script class="podlove-subscribe-button" src="https://cdn.podlove.org/subscribe-button/javascripts/app.js" data-language="de" data-size="big" data-json-data="podcastData" data-color="#469cd1" data-format="cover" data-style="filled"></script><noscript><a href="https://augsburg.klimacamp.eu/podcast.xml">Den Podcast des Augsburger Klimacamps abonnieren</a></noscript>
